
<div class="container">
  
  <div class="login">
    <div class="login-triangle"></div>
    
    <h2 class="login-header">Iniciar Sesion</h2>
  
    <form #frmLogin="ngForm" class="login-container"(ngSubmit)="onLogin(frmLogin)">
      
      <p><input type="email" name="email" placeholder="Email" ngModel required></p>
      
      <p><input type="password" name="password" placeholder="Password" ngModel required></p>
      
      <p><input type="submit" value="Enviar"></p>
    </form>
  </div>



</div>