<div class="container">
    <div class="login">
      <div class="login-triangle"></div>
  
      <h2 class="login-header">Crear Cuenta de Usuario</h2>
  
      <form #frmRegister="ngForm" class="login-container" (ngSubmit)="onRegister(frmRegister)">
        <p>
          <input type="text" name="name" placeholder="name" ngModel required>
        </p>
        <p>
          <input type="email" name="email" placeholder="Email" ngModel required>
        </p>
        <p>
          <input type="password" name="password" placeholder="Password" ngModel required>
        </p>
        <p>
          <input type="rol" name="rol" placeholder="rol" ngModel required>
        </p>
        <p>
          <input type="submit" value="Registrar">
        </p>
      </form>
    </div>
  </div>